{% extends "base.html" %}

{% block title %}Context{% endblock %}

{% block header %}Insira abaixo a lista de palavras{% endblock %}

{% block content %}

{% include 'includes/back_button.html' %}


<div id="language-options">
    <select class="language-select" name="">
      <option value="0">Selecione a língua-fonte</option>
      <option value="1">Inglês</option>
    </select>

    <select class="language-select" name="">
      <option value="0">Selecione a língua-alvo</option>
      <option value="1">Português</option>
    </select>
</div>

<div class="textfields">
	<form method='post' id="input_form"  action="{{ url_for('context') }}">
      <textarea id="input_field" name="input_content" cols="30" rows="10"></textarea>
      <br>
      <input type="submit" value="Enviar">
	</form>

  <form id="output_form" method="post">
      <textarea id="output_field" name="" cols="30" rows="10" readonly></textarea>
      <input type="submit" id="download-csv" download="output.csv" value="Baixar .csv" disabled>
  </form>

	<script>

    $(document).ready(function() {
        $('#input_form').submit(function(event) {
            event.preventDefault();
            
            var formData = new FormData($('#input_form')[0]);

            $.ajax({
                type: 'POST',
                url: '{{ url_for("context") }}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#output_field').val(data);
                    $('#download-csv').prop('disabled', false);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });
    });

    $(document).ready(function () {
        $("#download-csv").click(function (event) {
            event.preventDefault();
            const textareaContent = $("#output_field").val();
            const blob = new Blob([textareaContent], { type: "text/csv" });
            const url = URL.createObjectURL(blob);
            const a = $("<a>")
                .attr("href", url)
                .attr("download", "content.csv")
                .appendTo("body");
            a[0].click();
            a.remove();
            URL.revokeObjectURL(url);
        });
    });

	</script>
</div>

{% endblock %}
